body {
    background-color: lightgray;
  }
  
  .navbar {
    margin-top: 1.5rem;
    border-radius: 0.5rem;
  }
  
  #category-filter {
    margin-top: 1rem;
  }
  
  #category-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  #show-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    grid-auto-rows: minmax(100px, auto);
    place-content: center;
    padding-bottom: 3rem;
  }